<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Videochat</title>



  <!--Fontawsome-->
  <script src="https://kit.fontawesome.com/d59ea8d61f.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" type="text/css" href="./style.css">

  <!--Bootstrap-->
  <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <!--Menu Friends-->
  <div class="menu" id='friendmenu'>
    <ul class="menu-options">
      <li class="menu-option" onclick="call(menuData)">Call</li>
      <li class="menu-option" onclick="deleteRelation(menuData)">Unfriend</li>
      <li class="menu-option" onclick="block(menuData)">Block</li>
    </ul>
  </div>

  <!--Menu Requests-->
  <div class="menu" id='requestmenu'>
    <ul class="menu-options">
      <li class="menu-option" onclick="acceptRequest(menuData)">Accept</li>
      <li class="menu-option" onclick="deleteRelation(menuData)">Decline</li>
      <li class="menu-option" onclick="block(menuData)">Block</li>
    </ul>
  </div>
  
  <div class="sidebar">
    <div class="listview">
      <!--Tab Buttons-->
      <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
            <a href="#friends" class="nav-link active" data-toggle="tab">Friends</a>
        </li>
        <li class="nav-item">
          <a href="#groups" class="nav-link" data-toggle="tab">Groups</a>
      </li>
        <li class="nav-item">
            <a href="#pending" class="nav-link" data-toggle="tab">Pending</a>
        </li>
      </ul>

      <!--tabs-->
      <div class="tab-content">

        <!--Friends Tab-->
        <div class="tab-pane show active" id="friends">
          <div class="list">
            <table class="table table-dark">
              <tbody id="friendslist" class="requestslist">
              </tbody>
            </table>
          </div>
        </div>

        <!--Groups Tab-->
        <div class="tab-pane" id="groups">
          <p>Preview Feature</p>
        </div>

        <!--pending Tab-->
        <div class="tab-pane" id="pending">
          <div class="list">
            <input type="text" class="form-control friendsinput" id="requestinput">
            <button class="btn btn-outline-primary friendsbutton" id="requestbutton"><i class="fas fa-plus"></i></button>
            <table class="table table-dark">
              <tr>
                <th>Incoming</th>
                <th></th>
              </tr>
              <tbody id="requestslist" class="requestslist">
              </tbody>
              <tr>
                <th>Outgoing</th>
                <th></th>
              </tr>
              <tbody id="requestedlist" class="requestslist">
              </tbody>
            </table>
          </div>
        </div>
      
      </div>
    </div>

    <!--User Panel-->
    <div class="user-panel">
      <p id="name"></p>
      <p id="tag">#</p>
      <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#settings">
        <i class="fas fa-cog"></i>
      </button>
    </div>

  </div>

  <!-- Settings Modal -->
  <div class="modal fade" id="settings" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl settings-modal">
      <div class="modal-content">

        <!--Modal Header-->
        <div class="modal-header">
          <h5 class="modal-title" id="">Settings</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span class="modal-close" aria-hidden="true">&times;</span>
          </button>
        </div>

        <!--Modal Body-->
        <div class="modal-body">
          <div class="row">

            <!--Menu Button-->
            <div class="col-3">
              <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#profile" role="tab" aria-selected="true">Profile</a>
                <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#security" role="tab" aria-selected="false">Security</a>
              </div>
            </div>

            <!--Tabs-->
            <div class="col-9">
              <div class="tab-content" id="v-pills-tabContent">

                <!--Profile Tab-->
                <div class="tab-pane show active" id="profile" role="tabpanel">
                  <h4>Profile</h4>
                  <div class="settings-user-panel">
                    <p id="name">M1st3rButt3r</p>
                    <p id="tag">#1000</p>
                    <button class="btn btn-outline-success">Edit</button>
                  </div>
                  <button class="btn btn-outline-warning" disabled>Change Password</button>
                  <a class="btn btn-outline-danger" href="./logout">Logout</a>
                </div>

                <!--Security Tab-->
                <div class="tab-pane" id="security" role="tabpanel">
                  <h4>Security</h4>
                  <h5>Privacy</h5>
                  <h5>Blocks</h5>
                  <table class="table table-dark">
                    <tbody id="blockslist" class="requestslist">
                    </tbody>
                  </table>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src='./contextmenu.js'></script>
  <script src='./apihandler.js'></script>
  <script src="./index.js"></script>

  <!--Bootstrap-->
  <script src="/js/jquery.js"></script>
  <!--<script src="/js/popper.js"></script>-->
  <script src="/js/bootstrap.js"></script>
</body>
</html>