.form-signin {
    margin-top: 35vh;
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
}

.signin-button {
    margin: 15px;
    margin-right: 10px;
    margin-left: 0;
}

body {
    background-color: #292d31 !important;
}

.custom-control-label {
    color: white;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    border-color: #05c46b;
    background-color: #05c46b;
  }

  .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #05c46b !important;
    border-color: #05c46b !important;
}

.sidebar {
    background-color: #343a40 !important;
    height: 100%;
    width: 300px;
    display: block;
    position: fixed;
}

.friendslist {
    height: calc(100vh - 60px);
    overflow: hidden;
}

.character-panel {
    height: 70px;
    background-color: #2d3238;
}

.list {
    overflow-y: scroll;
    display: block;
    height: calc(100vh - 100px)
}